body{
    background-color: #323232;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand{
    padding: 0px;
}

.navbar{
    text-align: center;
}

.content{
    padding: 50px;
}

.pizza{
    width: 190px;
    border-radius: 10px;
}

.section{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.566);
}

.msg{
    color:#ffca2e;
}

.rowfooter{
    background-color: #212529;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nomecard{
    color: #ffca2e;
}

#nome{
    color: #ffca2e;
    padding: 3px;
}

.titulos{
    color: black;
    border-radius: 10px;
    background-color: #ffca2e;
}

.fotos{
    width: 400;
}

#link{
    color: #ffca2e;
    text-decoration:none;
}

#linkport{
    color: #474747;
}

.preco{
    color: #ffca2e;
}

.sobre{
    color: #323232;
}

#nomesobre{
    color: #ffca2e;
    padding: 10px;
}

.listas{
    list-style-type: none;
}

.listasobre{
    margin-right: 30px;
}

.secbeb{
    justify-content: left;
    text-align: left;
}

.descrição{
    color: whitesmoke;
    font-style: italic;
    text-align: justify;
    text-indent: 20px;
    font-size: 17px;
}